body {
  background-color: #f2f2f2;
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: white; 
}

header {
  background: radial-gradient(rgb(255, 217, 0),
      rgb(190, 162, 1),
      rgb(159, 135, 0));
  text-align: center;
  padding: 10px;
  position: relative;
}

header img {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 60px;
  background-color: transparent;
}

header {
  color: white;
  text-shadow: 2px 2px #000000;
  margin-bottom: 0;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
}


nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

nav a[disabled] {
  pointer-events: none;
  color: #999; 
}

aside {
  width: 25%;
  backdrop-filter: blur(25px);
  padding: 10px;
  color: #f2f2f2;
  position: absolute;
  right: 0;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(90px);
  color: white;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

button {
  background-color:  rgb(176, 150, 1);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(176, 150, 1);
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
